
<div class="container-fluid min-vh-100 d-flex align-items-center">
  <div class="row">
    <div class="col-xl-12">
      <div class="header">
        <h1 class="title my-5">Projeto Teoria da Computação e Compiladores</h1>
        <p class="lead text-justify">Olá senhores, este é um projeto interdisciplinar desenvolvido para alunos do Curso de Ciência da Computação referente ao semestre 1º/2021. Abaixo segue as opções de dois Autômatos desenvolvidos: Candy Machine e Elevator. Selecione um para acessar suas funcionalidades e divirta-s</p>
        <div class="text-center mt-5">
          <a class="btn btn-primary btn-lg active mx-2" [routerLink]="['/candy-machine']">Candy Machine</a>
          <a class="btn btn-primary btn-lg active mx-2" [routerLink]="['/elevator']">Elevator</a>
        </div>
      </div>
    </div>
  </div>
</div>


